<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  The world is your oyster.
  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
  </p>


  <form [formGroup]="formA" (ngSubmit)="limbeh()">
    <button type="submit">DO it!</button>
  </form>
</ion-content>
